/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary                    : #2f7f93;
$background                 : #252a34;
$background-dark            : mix(#000, $background, 5%);
$border                     : #4F5768;
$border-dark                : mix(#000, $border, 10%);
$text                       : #DDDFE0;
$text-light                 : mix($background, $text, 50%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background-dark};
    --global-border-color               : #{$border};
    --global-dark-border-color          : #{$border-dark};
    --global-code-background-color      : red;
    --global-code-text-color            : red;
    --global-fig-caption-color          : red;
    --global-link-color                 : #{$primary};
    --global-link-color-hover           : mix(#000, $primary, 25%);
    --global-link-color-visited         : mix(#fff, $primary, 25%);
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$text};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$text-light};
    --global-thead-color                : #{$border};
}

